/*

Congratulations!

You found an ADV Glitch! DV Cyber Security #2

Safeguard your company's identities and sensitive data with advanced protection and access management solutions.

Find out more on https://dvcybersecurity.it

DVCYBERSECURITY{cbe2b010-201b-4718-a864-8b0043edca05}

*/

:root {
	--circle-size: 80%;
}

@font-face {
  font-family: coalition;
  src: url(Coalition_v2.ttf);
}

body {
  font-family: coalition;
  background: #333;
  color: #ccc;
  transition: background-color 2s ease;
}

.turn-red {
  background-color: #cc0000;
}

.turn-green {
  background-color: #00cc00;
}

.message {
  padding: 2rem;
  font-size: 2rem;
  font-family: monospace;
}

.submit {
  font-family: coalition;
  padding: 1rem;
  font-size: 1.5rem;
  background: #555;
  color: #ccc;
}

.wrapper {
  margin: auto;
}

.title {
    margin: 2rem 3rem;
    font-size: 4rem;
}

.description {
    margin: 2rem 3rem;
    font-size: 1.75rem;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 3rem;
}

.result {
    margin: 1rem 3rem 0 3rem;
}

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}
	50% {
		transform: translateX(50%) translateY(10%);
	}
	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-bg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	overflow: hidden;
	background: linear-gradient(40deg, #736a7755, #00115255);
	top: 0;
	left: 0;
}

.gradient-bg svg {
	 display: none;
}

.gradient-bg .gradients-container {
	filter: url(#goo) blur(40px);
	width: 100%;
	height: 100%;
}

.gradient-bg .g1 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(180, 180, 180, .25) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
	mix-blend-mode: hard-light;
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	transform-origin: center center;
	animation: moveVertical 30s ease infinite;
	opacity: 1;
}

.gradient-bg .g2 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(180, 180, 180, .25) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
	mix-blend-mode: hard-light;
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	transform-origin: calc(50% - 400px);
	animation: moveInCircle 20s reverse infinite;
	opacity: 1;
}

.gradient-bg .g3 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(180, 180, 180, .25) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
	mix-blend-mode: hard-light;
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 + 200px);
	left: calc(50% - var(--circle-size) / 2 - 500px);
	transform-origin: calc(50% + 400px);
	animation: moveInCircle 40s linear infinite;
	opacity: 1;
}

.gradient-bg .g4 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(180, 180, 180, .25) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
	mix-blend-mode: hard-light;
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	transform-origin: calc(50% - 200px);
	animation: moveHorizontal 40s ease infinite;
	opacity: 0.7;
}

.gradient-bg .g5 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(180, 180, 180, .25) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
	mix-blend-mode: hard-light;
	width: calc(var(--circle-size) * 2);
	height: calc(var(--circle-size) * 2);
	top: calc(50% - var(--circle-size));
	left: calc(50% - var(--circle-size));
	transform-origin: calc(50% - 800px) calc(50% + 200px);
	animation: moveInCircle 20s ease infinite;
	opacity: 1;
}
