<div class="bg-white min-h-screen mx-32 px-8 py-16 corporate">
  <app-logo></app-logo>
  <div class="mt-4 text-3xl font-bold corporate">Contact us</div>
  <div class="text-xl mt-4 flex gap-2">
    Thank you for considering PORT GmbH's Shipyard for your maritime needs. We look forward to assisting you with ship
    rental, repair, and maintenance services. Please don't hesitate to reach out to us using the contact information
    provided below.
  </div>
  <div class="text-2xl mt-6">Address:</div>
  <div class="flex flex-col">
    PORT Shipyard,
    Seaview Avenue 1337,
    31337 WL
  </div>
  <div class="text-2xl mt-6">Phone:</div>
  Main Office: +13 371-337-1337

  <div class="text-2xl mt-6">Business Hours:</div>
  <div class="flex flex-col">
    <span>Monday - Friday: 8:00 AM - 5:00 PM</span>
    <span>Saturday: 9:00 AM - 1:00 PM</span>
    <span>(Closed on Sundays and Public Holidays)</span>
  </div>

  <div class="text-2xl mt-6">Connect with Us:</div>
  Follow us on social media for the latest updates, news, and promotions!

  <div class="text-2xl mt-6">Write us a message:</div>

  For any inquiries or assistance, please let us know, and a member of our team will get back to you promptly.

  <form class="flex flex-col gap-2 my-2" method="post" action="/api/contact">
    <input class="border-2 border-black p-1" type="text" name="name" placeholder="Your name">
    <input class="border-2 border-black p-1" type="email" name="email" placeholder="Your email">
    <textarea class="border-2 border-black p-1" rows="10" name="message" placeholder="Your message"></textarea>
    <input class="border-2 border-black p-1" type="file" name="attachment" multiple="multiple" placeholder="Attachments">
    <input class="border-2 border-black p-1 bg-gray-300 cursor-pointer" type="submit" value="Send">
  </form>
  <ng-container  *ngIf="route.queryParams | async as queryParams">
    <div class="text-green-800 text-center font-bold" *ngIf="queryParams['success'] !== undefined">Your message has been sent!</div>
  </ng-container>

  <div>Thank you for choosing PORT GmbH's Shipyard. We're here to serve you.</div>
</div>
