<div class="bg-white min-h-screen mx-32 px-8 py-16 corporate">
  <app-logo></app-logo>
  <div class="flex flex-col gap-6 content-center mt-2">
    <div class="text-3xl my-2 font-bold corporate">Congratulations</div>
    <div>
      <div class="text-xl mt-4">
        You found an ADV Glitch! DV Cyber Security #6
      </div>
      <div class="text-xl mt-4">
        Train your staff and increase cyber threat awareness with our dedicated training programs.
      </div>
      <div class="text-xl mt-4">
        Find out more on <a class="underline" target="_blank" href="https://dvcybersecurity.it">dvcybersecurity.it</a>.
      </div>
      <div class="text-xl mt-4">
        {{'DVCYBERSECURITY{fe5d5f9c-210a-4d9a-bf7c-0cd32c4faffb}'}}
      </div>
    </div>
  </div>
</div>
