<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta charset="UTF-8">
    <title>Reactor Control Panel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body">
<div class="header">
    <div class="title">
        Kilo-Reactor MK02
    </div>
</div>
<div class="wrapper">
</div>

<div class="modal-wrapper">
    <div class="modal modal-big">
        <div class="modal-header">Congratulations!</div>
        <div class="message">You found an ADV Glitch! DV Cyber Security #4</div>
        <div class="message">Stay in control of your security with continuous threat analysis and dark web monitoring.</div>
        <div class="message">Find out more on <a target="_blank" href="https://dvcybersecurity.it">dvcybersecurity.it</a>.</div>
        <div class="message">DVCYBERSECURITY{b43faa45-962c-49d4-88a1-6547d9b8ed10}</div>
        <div class="message"></div>
        <button type="button" onclick="closeModal()" class="fill">Close</button>
    </div>
</div>
</body>
<script>
function closeModal() {
    location = '/control-panel'
}
</script>
</html>