<style>
.dfsec-img {
    width: 15rem;
    margin: auto;
}

.modal-content {
    display: flex;
}

.modal a {
    color: #fff;
}
</style>
<div class="modal-header">Congratulations!</div>
<div class="modal-content">You found an ADV Glitch! Dataflow Security #2</div>
<div class="modal-content"><img class="dfsec-img" src="/static/dfsec-logo-bw.svg"></div>
<div class="modal-content"><span>Dataflow Security is home to a world-class R&D team, composed of elite researchers who excel at finding and exploiting vulnerabilities in popular operating systems, browsers, and applications - <a target="_blank" href="https://dfsec.com">dfsec.com</a></span></div>
<div class="modal-content">DFSEC{780288a0-1371-43e1-be9f-513151d5d5fb}</div>
<div class="modal-buttons">
    <button onclick="location='/'">Oh wow! Cool!</button>
</div>
