@font-face {
    font-family: neuropol;
    src: url(Neuropol.otf);
}

* {
    font-family: neuropol;
}

body {
    letter-spacing: .1rem;
    background: fixed;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    color: #eee;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: .125rem white solid;
    background: #000000bb;
    padding: 2rem;
    align-items: stretch
}

.disclaimer {
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: .125rem white solid;
    background: #000000bb;
    padding: 2rem;
}

.disclaimer-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.dismiss {
    margin-top: 1rem;
}

.back {
    margin-top: 1rem;
}

.more-info {
    margin-top: 1rem;
}

.more-info:disabled {
    cursor: auto;
}

.document-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: .125rem white solid;
    max-height: 20rem;
}

.document-entry {
    padding: .5rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.no-documents {
    font-family: monospace;
    font-size: .75rem;
    padding: .5rem;
}

.document-entry * {
    font-family: monospace;
    font-size: .75rem;
}

.document-entry:hover {
    background: #ffffff44;
}

.document-entry-title {
    font-size: 1rem;
}

.date {
    font-size: .75rem;
    color: #bbb;
}

.form-group {
    display: flex;
    gap: .5rem;
    align-items: center
}

.title {
    text-align: center;
    font-size: 2rem;
}

.subtitle {
    text-align: center;
    font-size: .75rem;
    color: #bbb;
    margin-bottom: 1rem;
}

.button {
    padding: .5rem;
    cursor: pointer;
}

.search {
    flex-grow: 1;
    padding: .5rem;
}

.header {
    position: sticky;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #000000bb;
    border-bottom: .125rem white solid;
}

.footer {
    text-align: center;
    font-size: .75rem;
    padding: .5rem;
    background: #000000bb;
}

.hidden {
    display: none;
}

.document-content {
    overflow-y: auto;
    max-height: 30rem;
    max-width: 50rem;
    border: .125rem white solid;
    font-family: monospace;
    font-size: .75rem;
}

.document-content * {
    font-family: monospace;
    font-size: .75rem;
}

.document-title {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.document-content b {
    margin-bottom: .5rem;
}

.centered {
    text-align: center;
}