<div class="bg-white min-h-screen mx-32 px-8 py-16 corporate">
  <app-logo></app-logo>
  <div class="mt-4 text-3xl font-bold corporate">About PORT GmbH's Shipyard</div>

  <div class="text-xl mt-4 flex gap-2">
    Welcome to PORT GmbH's Shipyard, your premier destination for ship rental, construction, and maintenance solutions.
    With a legacy of excellence spanning over three decades, we have established ourselves as industry leaders in
    providing top-notch maritime services tailored to meet the diverse needs of our clients worldwide.
  </div>

  <div class="text-2xl mt-6">Our Expertise</div>

  <div class="text-xl mt-4 flex gap-2 flex-col">
    At PORT GmbH, we specialize in three core areas:

    <div>1. <span class="font-bold">Ship Rental</span>: Whether you're looking to transport cargo, host events, or
      embark
      on an
      unforgettable journey, our extensive fleet of vessels is at your service. From small craft for intimate gatherings
      to
      large-scale commercial ships, we offer a wide range of options to suit your requirements.
    </div>

    <div>2. <span class="font-bold">Ship Construction:</span> Our team of experienced engineers and naval architects are
      dedicated to bringing your maritime visions to life. From concept design to final construction, we leverage
      cutting-edge technology and industry best practices to deliver innovative and reliable vessels tailored to your
      specifications.
    </div>

    <div>3. <span class="font-bold">Maintenance Services:</span> Ensuring the longevity and optimal performance of your
      fleet is paramount. With our comprehensive maintenance solutions, including routine inspections, repairs, and
      refurbishments, you can trust PORT GmbH to keep your vessels operating at peak efficiency.
    </div>
  </div>

  <div class="text-2xl mt-6">Our Commitment</div>

  <div class="text-xl mt-4 flex gap-2 flex-col">
    At PORT GmbH, client satisfaction is our top priority. We are committed to delivering superior quality, unmatched
    reliability, and exceptional value in every aspect of our business. Whether you're a seasoned maritime professional
    or
    a first-time ship owner, you can rely on us to provide personalized service and expert guidance every step of the
    way.
  </div>

  <div class="text-2xl mt-6">Why Choose PORT GmbH?</div>

  <div class="text-xl mt-4 flex gap-2 flex-col">
    <div>- <span class="font-bold">Experience:</span> With over 30 years of industry experience, we possess the
      knowledge
      and
      expertise to handle even the most complex maritime projects.
    </div>
    <div>- <span class="font-bold">Quality Assurance:</span> We adhere to the highest standards of quality and safety,
      ensuring
      that every vessel we build or maintain meets or exceeds regulatory requirements.
    </div>
    <div>- <span class="font-bold">Customer Focus:</span> Our dedicated team is committed to understanding your unique
      needs
      and delivering customized solutions that exceed your expectations.
    </div>
    <div>- <span class="font-bold">Global Reach:</span> With a network of partners and affiliates around the world, we
      have the
      resources and capabilities to support your maritime endeavors wherever they may take you.
    </div>
  </div>

  <div class="text-2xl mt-6">Our sponsor, real this time</div>
  <div class="text-xl mt-4 flex gap-2 flex-col">
    <div>Congratulations! You found an ADV Glitch! Karrycar #2</div>
    <div>- <span class="font-italic">The digital ecosystem improves, simplifies, and optimizes finished vehicle logistics, making it more convenient than a phone call and faster than an email.</span> ~ <a class="underline" target="_blank" href="https://karrycar.it">Karrycar</a></div>
    <div>KARRYCAR{{ '{' }}451e847e-d855-48eb-9992-c63f7fbef7f5{{ '}' }}</div>
  </div>

  <div class="text-2xl mt-6">Get in Touch</div>

  <div class="text-xl mt-4 flex gap-2">
    Ready to experience the PORT GmbH difference? Contact us today to learn more about our services and how we can help
    you achieve your maritime goals. We look forward to serving you!
  </div>
</div>
