@font-face {
    font-family: rational;
    src: url(RationalInteger.ttf);
}

body {
    font-family: rational;
    letter-spacing: .125rem;
    background-image: url('entering-the-library.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: #eee;
    margin: 0;
    position: relative;
}

::backdrop {
    font-family: rational;
    letter-spacing: .125rem;
    background-image: url('entering-the-library.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #eee;
    margin: 0;
    position: relative;
}

checkbox {
    cursor: pointer;
}

button {
    font-family: rational;
    letter-spacing: .125rem;
    font-size: 1.25rem;
    cursor: pointer;
}

input {
    font-family: rational;
    letter-spacing: .125rem;
    font-size: 1.25rem;
}

.background {
    animation: zoom 14s ease-in-out 2s forwards;
}

.interactive {
    aspect-ratio: 16/9;
    color: red;
    position: absolute
}

.title {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: .25em;
}

.subtitle {
    font-size: 2em;
}

.login {
    color: white;
}


.overlay-text-wrapper {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000084;
    transition: opacity 2s;
}

.overlay-text {
    font-size: 3rem;
    width: 80%;
    text-wrap: balance;
    text-align: center;
    transition: opacity 1s;
}

.modal-wrapper {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000044;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border: #fff .125rem solid;
    background: #00000084;
    color: #fff;
}

.modal-header {
    padding: 1rem;
    border-bottom: #fff .125rem solid;
}

.modal-content {
    padding: 1rem;
}

.modal-buttons {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.modal-buttons button {
    padding: .5rem 1rem;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}

.bar {
    height: 0;
    opacity: 0;
    transition: height 2s, opacity 2s;
    background: black;
}

.top-bar {
    width: 100%;
    top: 0;
    position: absolute;
}

.bottom-bar {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.full-bar {
    height: 8rem;
    opacity: 1;
}

.text-appear {
    animation: 5s text-appear-animation forwards;
}

.skip {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

@keyframes text-appear-animation {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@media only screen and (max-height: 35rem) {
    .full-bar {
        height: 3rem;
    }

    .overlay-text {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 35rem) {
    .full-bar {
        height: 3rem;
    }

    .overlay-text {
        font-size: 2rem;
    }
}